import libraries

In [1]:
import pandas as pd
# import geopandas as gpd
# import pyarrow
import math
import numpy as np
import time
# from h3 import h3
from multiprocessing import Pool
from multiprocessing import cpu_count
nCores = cpu_count()
import sys

import project functions

In [2]:
sys.path.append("..")
from src.geoIndexFunctions import *

### load gps events with hex

In [3]:
# select the hex size to work
APERTURE_SIZE = 9
hex_col = 'hex' + str(APERTURE_SIZE)

In [4]:
gps_in_london_hex = pd.read_parquet('../../data/geodata/paul/mixed/gps_events_with_geoindex_within.parquet.gzip',
                                   columns=['timestamp', 'latitude', 'longitude',hex_col, 
                                             "{}_lat".format(hex_col), "{}_lon".format(hex_col)])

In [5]:
# not showing deviceId for data protection reasons
gps_in_london_hex.loc[:, gps_in_london_hex.columns!='deviceId'].head()

       timestamp   latitude  longitude             hex9   hex9_lat  hex9_lon
0  1554138000000  51.422662  -0.204717  89194adabc3ffff  51.421924 -0.204710
1  1554138000000  51.472333  -0.487267  89195d3627bffff  51.471911 -0.488514
2  1554138000000  51.477352  -0.112836  89194ad1543ffff  51.476604 -0.113294
3  1554138000000  51.462253  -0.170607  89194ad1267ffff  51.463324 -0.170675
4  1554138000000  51.516440  -0.131118  89195da4997ffff  51.515597 -0.129970

###  Add date columns in the dataframe

In [6]:
day_to_str = {0: "Monday",
              1: "Tuesday",
              2: "Wednesday",
              3: "Thursday",
              4: "Friday",
              5: "Saturday",
              6: "Sunday"}

In [7]:
# split the dataframe into chunks for parallelization
gps_in_london_hex_split = np.array_split(gps_in_london_hex, nCores)

def epoch_to_datetime(df):
    df['date'] = df.apply(lambda x: pd.to_datetime(round(x['timestamp']/1000), unit='s'), axis=1)
    df['num_minutes'] = df.apply(lambda x : x['date'].hour * 60 + x['date'].minute , axis=1)
    df['day_cat'] = df.apply(lambda x: day_to_str[x['date'].dayofweek], axis=1)
    df['month'] = df.apply(lambda x: x['date'].month, axis=1)
    df['year'] = df.apply(lambda x: 1 if x['date'].year==2019 else 0, axis=1)
    df['weekend'] = df.apply(lambda x: 0 if x['date'].dayofweek<5 else 1, axis=1)
    return df

# multi cores with Multiprocessing
with Pool(processes=nCores) as pool1:
    start = time.time()
    new_gps_in_london_hex = pd.concat(pool1.map(epoch_to_datetime, gps_in_london_hex_split)).reset_index(drop=True)
    print(round(time.time() - start, 3))

501.319

In [8]:
new_gps_in_london_hex.loc[:, new_gps_in_london_hex.columns!='deviceId'].head()

,timestamp,latitude,longitude,hex9,hex9_lat,hex9_lon,date,num_minutes,day_cat,month,year,weekend
0,1554138000000,51.422662,-0.204717,89194adabc3ffff,51.421924,-0.204710,2019-04-01 17:00:00,1020,Monday,4,1,0
1,1554138000000,51.472333,-0.487267,89195d3627bffff,51.471911,-0.488514,2019-04-01 17:00:00,1020,Monday,4,1,0
2,1554138000000,51.477352,-0.112836,89194ad1543ffff,51.476604,-0.113294,2019-04-01 17:00:00,1020,Monday,4,1,0
3,1554138000000,51.462253,-0.170607,89194ad1267ffff,51.463324,-0.170675,2019-04-01 17:00:00,1020,Monday,4,1,0
4,1554138000000,51.516440,-0.131118,89195da4997ffff,51.515597,-0.129970,2019-04-01 17:00:00,1020,Monday,4,1,0

parquet checkpoint

In [12]:
# #save it as a csv so we dont need to do that every time
# new_gps_in_london_hex.to_parquet('9_gps_events_in_london_hexagon_list.parquet.gzip',compression='gzip')

### Add day and time num, con, sin

In [14]:
def timecat_timenum_timecos_timesin(num_minutes):
    # Time of the start of the bin
    time_bin = num_minutes // 30     # eg. 1005
    hour_bin = num_minutes // 60                  # eg. 16
    min_bin = (time_bin * 30) % 60  # eg. 45

    #get time_cat
    hour_str = str(hour_bin) if hour_bin / 10 > 0 else "0" + str(hour_bin)  # eg. "16"
    min_str = str(min_bin) if min_bin / 10 > 0 else "0" + str(min_bin)      # eg. "45"
    time_cat = hour_str + ":" + min_str                                     # eg. "16:45"

    # Get a floating point representation of the center of the time bin
    time_num = (hour_bin*60 + min_bin + 30 / 2.0)/(60*24)      # eg. 0.7065972222222222

    time_cos = math.cos(time_num * 2 * math.pi)
    time_sin = math.sin(time_num * 2 * math.pi)

    return time_cat, time_num, time_cos, time_sin

In [15]:
# split the dataframe into chunks for parallelization
new_gps_in_london_hex_split = np.array_split(new_gps_in_london_hex, nCores)

def get_timecat_timenum_timecos_timesin(df):
    df['time_list'] = df.apply(lambda x : timecat_timenum_timecos_timesin(x['num_minutes']),axis=1)
    df['time_cat'] = df.apply(lambda x: x['time_list'][0],axis=1)
    df['time_num'] = df.apply(lambda x: x['time_list'][1],axis=1)
    df['time_cos'] = df.apply(lambda x: x['time_list'][2],axis=1)
    df['time_sin'] = df.apply(lambda x: x['time_list'][3],axis=1)
    df['day_num'] = df.apply(lambda x: (x['date'].dayofweek + x['time_num'])/7.0,axis=1)
    df['day_cos'] = df.apply(lambda x: math.cos(x['day_num']*2*math.pi),axis=1)
    df['day_sin'] = df.apply(lambda x: math.sin(x['day_num']*2*math.pi),axis=1)
    return df.drop(["time_list"], axis=1)

# multi cores with Multiprocessing
with Pool(processes=nCores) as pool1:
    start = time.time()
    new_new_gps_in_london_hex_split = pd.concat(pool1.map(get_timecat_timenum_timecos_timesin, new_gps_in_london_hex_split)).reset_index(drop=True)
    print(round(time.time() - start, 3))

357.44

In [16]:
new_new_gps_in_london_hex_split.loc[:, new_new_gps_in_london_hex_split.columns!='deviceId'].head()

,timestamp,latitude,longitude,hex9,hex9_lat,hex9_lon,date,num_minutes,day_cat,month,year,weekend,time_cat,time_num,time_cos,time_sin,day_num,day_cos,day_sin
0,1554138000000,51.422662,-0.204717,89194adabc3ffff,51.421924,-0.204710,2019-04-01 17:00:00,1020,Monday,4,1,0,17:00,0.71875,-0.19509,-0.980785,0.102679,0.79901,0.601317
1,1554138000000,51.472333,-0.487267,89195d3627bffff,51.471911,-0.488514,2019-04-01 17:00:00,1020,Monday,4,1,0,17:00,0.71875,-0.19509,-0.980785,0.102679,0.79901,0.601317
2,1554138000000,51.477352,-0.112836,89194ad1543ffff,51.476604,-0.113294,2019-04-01 17:00:00,1020,Monday,4,1,0,17:00,0.71875,-0.19509,-0.980785,0.102679,0.79901,0.601317
3,1554138000000,51.462253,-0.170607,89194ad1267ffff,51.463324,-0.170675,2019-04-01 17:00:00,1020,Monday,4,1,0,17:00,0.71875,-0.19509,-0.980785,0.102679,0.79901,0.601317
4,1554138000000,51.516440,-0.131118,89195da4997ffff,51.515597,-0.129970,2019-04-01 17:00:00,1020,Monday,4,1,0,17:00,0.71875,-0.19509,-0.980785,0.102679,0.79901,0.601317

parquet checkpoint

In [17]:
# #save it as a csv so we dont need to do that every time
# new_new_gps_in_london_hex_split.to_parquet('9_gps_events_in_london_hexagon_list.parquet.gzip',compression='gzip')

In [18]:
new_new_gps_in_london_hex_split.columns

Index(['timestamp', 'latitude', 'longitude', 'hex9', 'hex9_lat', 'hex9_lon',
       'date', 'num_minutes', 'day_cat', 'month', 'year', 'weekend',
       'time_cat', 'time_num', 'time_cos', 'time_sin', 'day_num', 'day_cos',
       'day_sin'],
      dtype='object')

## GPS density per hex per 1 hour bin and day

In [19]:
# store gps density for each hex per da per time bin
gps_density_hex_day_hour = new_new_gps_in_london_hex_split.groupby([hex_col, 'time_cat', 'day_cat', 'month']).size().to_frame('gps_cnt').reset_index()

In [20]:
gps_density_hex_day_hour.sort_values(by='gps_cnt', ascending=False).head()

                    hex9 time_cat  day_cat  month  gps_cnt
399675   89194ad36a7ffff    12:00   Monday      4      785
349832   89194ad3067ffff    12:00  Tuesday      4      774
349828   89194ad3067ffff    12:00   Monday      4      766
399679   89194ad36a7ffff    12:00  Tuesday      4      750
1108662  89195da4d07ffff    12:00   Monday      4      736

In [22]:
new_gpd_density = pd.merge(gps_density_hex_day_hour,\
         new_new_gps_in_london_hex_split[[hex_col, 'time_cat', 'day_cat', 'month',
                                          'hex9_lat', 'hex9_lon','num_minutes',\
                                        'year', 'weekend','time_num', 'time_cos', 'time_sin',\
                                          'day_sin','day_num', 'day_cos',]],\
         on=[hex_col, 'time_cat', 'day_cat', 'month'], how='left').drop_duplicates()

In [23]:
new_gpd_density.sort_values(by='gps_cnt', ascending=False).head()

,hex9,time_cat,day_cat,month,gps_cnt,hex9_lat,hex9_lon,num_minutes,year,weekend,time_num,time_cos,time_sin,day_sin,day_num,day_cos
2664870,89194ad36a7ffff,12:00,Monday,4,785,51.525687,-0.083441,720,1,0,0.510417,-0.997859,-0.065403,0.442289,0.072917,0.896873
1948748,89194ad3067ffff,12:00,Tuesday,4,774,51.504514,-0.082869,720,1,0,0.510417,-0.997859,-0.065403,0.976966,0.215774,0.213396
1947381,89194ad3067ffff,12:00,Monday,4,766,51.504514,-0.082869,720,1,0,0.510417,-0.997859,-0.065403,0.442289,0.072917,0.896873
2666205,89194ad36a7ffff,12:00,Tuesday,4,750,51.525687,-0.083441,720,1,0,0.510417,-0.997859,-0.065403,0.976966,0.215774,0.213396
6165261,89195da4d07ffff,12:00,Monday,4,736,51.526292,-0.127955,720,1,0,0.510417,-0.997859,-0.065403,0.442289,0.072917,0.896873

In [24]:
new_gpd_density[['time_cat', 'day_cat', 'month']].nunique()

time_cat    24
day_cat      7
month        1
dtype: int64

In [25]:
len(new_gpd_density)

1439544

### Construct a df with all hex and month, day_cat and time_cat

we cannot do that for memory issues

In [80]:
# all_hex_df = pd.read_csv('../data output/0 london_boundary_hex9_list.csv')
# len(all_hex_df)

17047

In [72]:
# month_list = [4]
# time_cat = ['00:00','1:00','2:00', '3:00', '4:00', '5:00', '6:00', '7:00','8:00', '9:00','10:00','11:00',
# '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00','19:00','20:00', '21:00', '22:00', '23:00']
# day_cat = ['Monday', 'Tuesday', 'Wednesday','Thursday', 'Friday', 'Saturday', 'Sunday',]

In [74]:
# first = pd.concat([
#     pd.DataFrame(
#         {'hex9': row.hex9,
#          'month': row.month,
#          'day_cat': day_cat
#         }
#     ) for i, row in all_hex_df.iterrows()
# ], ignore_index=True).loc[:, ['hex9', 'month', 'day_cat']]

In [82]:
# second = pd.concat([
#     pd.DataFrame(
#         {'hex9': row.hex9,
#          'month': row.month,
#          'day_cat': row.day_cat,
#          'time_cat':time_cat
#         }
#     ) for i, row in first.iterrows()
# ], ignore_index=True).loc[:, ['hex9', 'month', 'day_cat', 'time_cat']]

In [83]:
# len(second)

2863896

csv checkpoint

In [85]:
# second.to_csv('../../data/geodata/paul/04new/london_boundary_hex9_list_month_day_hour.csv')

In [120]:
# last_london_hex_split = pd.merge(new_gpd_density,second, how='outer', on= [hex_col, 'time_cat', 'day_cat'])
# last_london_hex_split.fillna(0,inplace=True)

In [121]:
# # just to check if all cnts were populated
# last_london_hex_split.gps_cnt.isnull().any()

False

### Save the df to parquet.gzip file

In [26]:
new_gpd_density.to_parquet('../data output/7 mixed_gps_density_month_day_hour_for_random_forest.parquet.gzip',compression='gzip')

In [27]:
new_gpd_density.hex9.nunique()

16382

## Appendix

In [134]:
# osm_shp = gpd.read_file('/home/lefteris/Desktop/trajectories/OSM_and_GeoIndex/data/OSM geofabrik/gis_osm_pois_free_1.shp')
# osm_shp.crs = {'init' :'epsg:4326'}
# osm_shp.rename(columns={'fclass':'amenity'},inplace=True)
# osm_shp['lat'] = osm_shp['geometry'].apply(lambda x: x.y)
# osm_shp['lon'] = osm_shp['geometry'].apply(lambda x: x.x)

In [135]:
# osm_hex_density = from_df_points_to_df_hexagon_cnt(osm_shp, )

In [136]:
# osm_hex_density.sort_values(by='cnt', ascending=False).head()

### GPS to Hex

In [137]:
# gps_hex_density = from_df_points_to_df_hexagon_cnt(frame, lat='latitude', lon='longitude')

In [138]:
# gps_hex_density.sort_values(by='cnt', ascending=False).head()

In [139]:
# # merge them on hex_col with how='outer'
# df_all_hex = pd.merge(osm_hex_density, gps_hex_density, how='outer', on=hex_col, suffixes=('_osm', '_gps'))\
# .drop(["lat_osm","lon_osm","lat_gps","lon_gps"], axis=1)\
# .fillna(0)

In [140]:
# df_all_hex.head()