the data output of this jupyter notebook will not be used for the random forest as it counts overall density for each hexagon throughout the whole period that covers our GPS event dataset whereas the random forest will try to forecast footfall density for each hexagon per hour

import libraries

In [1]:
import pandas as pd
import sys

import project functions

In [2]:
sys.path.append("..")
from src.geoIndexFunctions import *

### load gps events with hex

In [7]:
gps_in_london_hex = pd.read_parquet('../../data/geodata/paul/mixed/gps_events_with_geoindex_within.parquet.gzip')

In [8]:
len(gps_in_london_hex)

7649570

In [12]:
# not showing deviceId for data protection reasons
gps_in_london_hex.loc[:, gps_in_london_hex.columns!='deviceId'].sample(5)

,timestamp,latitude,longitude,country,hex9,hex9_lat,hex9_lon
148775,1554141600000,51.399067,-0.172851,GBR,89194ac368fffff,51.399517,-0.173475
6954160,1554307200000,51.558666,-0.380353,GBR,89195daea5bffff,51.559407,-0.381898
3732401,1555056000000,51.485600,-0.070400,GBR,89194ad06d3ffff,51.486487,-0.071413
6886908,1555041600000,51.501905,-0.438831,GBR,89195d364cfffff,51.500871,-0.439667
960029,1556607600000,51.533891,-0.122029,GBR,89195da4d83ffff,51.534471,-0.122980

In [13]:
# select the hex size to work
APERTURE_SIZE = 9
hex_col = 'hex' + str(APERTURE_SIZE)

## Total

### store gps density for all hexagons within the boundary

In [14]:
# store gps density for each hex
gps_hex_density = gps_in_london_hex.groupby(hex_col).size().to_frame('total_gps_cnt').reset_index()

In [15]:
gps_hex_density.sort_values(by='total_gps_cnt', ascending=False).head()

                  hex9  total_gps_cnt
3415   89194ad3067ffff          32304
3723   89194ad36a7ffff          31292
12538  89195da4d07ffff          29594
12370  89195da4987ffff          26739
3708   89194ad3663ffff          24825

In [16]:
len(gps_hex_density)

16382

### load boundary hex

In [17]:
all_hexagons_df = pd.read_csv('../data output/0 london_boundary_hex9_list.csv')

In [18]:
all_hexagons_df.head()

              hex9
0  89195dadc07ffff
1  89194e6d0a7ffff
2  89194ac2e7bffff
3  89194ad5c93ffff
4  89194ad2473ffff

In [19]:
# merge them with the dataframe that contains all hexagons of boundary
df_all_hex = pd.merge(gps_hex_density, all_hexagons_df, how='right', on=hex_col)
df_all_hex.fillna(0,inplace=True)
df_all_hex['total_gps_cnt'] = df_all_hex['total_gps_cnt'].astype(int)

In [20]:
len(df_all_hex)

17047

In [21]:
df_all_hex.head()

              hex9  total_gps_cnt
0  89194ac0003ffff            190
1  89194ac0007ffff             42
2  89194ac000bffff            207
3  89194ac000fffff             91
4  89194ac0013ffff            407

### save it as csv

In [22]:
# df_all_hex.to_csv('../data output/6 london_boundary_hex9_total_gps.csv', index=False)