In [3]:
# https://wiki.openstreetmap.org/wiki/Overpass_API/Overpass_API_by_Example
# for the amenities

In [4]:
import pandas as pd

In [5]:
import requests
import json
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = """
[out:json];

area[admin_level=5]["name"="Greater London"]->.searchArea;
(
  node(area.searchArea)["amenity"="cafe"];
  node(area.searchArea)["amenity"="bar"];
  node(area.searchArea)["amenity"="pub"];
  );
out body;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
data = response.json()

In [6]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [15]:
osm_df = pd.DataFrame(data['elements'])

In [16]:
osm_df.head()

,id,lat,lon,tags,type
0,108042,51.523536,-0.135529,"{'addr:housenumber': '31', 'addr:postcode': 'W...",node
1,451152,51.600840,-0.194608,"{'addr:city': 'London', 'addr:housenumber': '3...",node
2,451154,51.599586,-0.196005,"{'addr:housenumber': '319', 'addr:street': 'Re...",node
3,451271,51.614104,-0.176505,"{'addr:city': 'London', 'addr:housenumber': '7...",node
4,12242503,51.592016,0.027962,"{'amenity': 'pub', 'name': 'Railway Bell', 're...",node

In [17]:
from pandas.io.json import json_normalize 
osm_df = json_normalize(data, 'elements')

In [18]:
osm_df.head()

,id,lat,lon,tags,type
0,108042,51.523536,-0.135529,"{'addr:housenumber': '31', 'addr:postcode': 'W...",node
1,451152,51.600840,-0.194608,"{'addr:city': 'London', 'addr:housenumber': '3...",node
2,451154,51.599586,-0.196005,"{'addr:housenumber': '319', 'addr:street': 'Re...",node
3,451271,51.614104,-0.176505,"{'addr:city': 'London', 'addr:housenumber': '7...",node
4,12242503,51.592016,0.027962,"{'amenity': 'pub', 'name': 'Railway Bell', 're...",node

In [10]:
osm_df['amenity'] = osm_df['tags'].map(lambda x: x['amenity'])
# or
# for index, row in osm_df.iterrows():
#     osm_df.loc[index,'tags'] = osm_df.loc[index,'tags']['amenity']

In [11]:
osm_df.head()

,id,lat,lon,tags,type,amenity
0,108042,51.523536,-0.135529,"{'addr:housenumber': '31', 'addr:postcode': 'W...",node,pub
1,451152,51.600840,-0.194608,"{'addr:city': 'London', 'addr:housenumber': '3...",node,pub
2,451154,51.599586,-0.196005,"{'addr:housenumber': '319', 'addr:street': 'Re...",node,pub
3,451271,51.614104,-0.176505,"{'addr:city': 'London', 'addr:housenumber': '7...",node,pub
4,12242503,51.592016,0.027962,"{'amenity': 'pub', 'name': 'Railway Bell', 're...",node,pub

In [12]:
len(osm_df)

5524